@use "./base/index.scss" as base;
@use "./base/colors" as colors;
@use "./mixins/index.scss" as mixins;

body {
  font-family: "Nunito", sans-serif;
}

main {
  padding-top: 60px;
  background: colors.$bg;
}
