@use 'styles/base/colors' as colors;
@use 'styles/mixins/font' as mixins;

.button {
  padding: 4px 8px;
  border-radius: 80px;
  width: 100px;
  height: 34px;
  background-color: colors.$main;
  transition: background-color 0.2s ease-in;
  color: colors.$text;

  @include mixins.text-s;

  &:hover {
    background-color: colors.$main-hover;
  }

  &:disabled {
    background-color: colors.$disabled;
    color: colors.$text-disabled;
  }
}
