@use 'styles/mixins/index.scss' as mixins;
@use 'styles/base/colors' as colors;

.header {
  background-color: colors.$white;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow:
    -1px -1px 5px rgba(0, 0, 0, 0.15),
    0px 4px 15px rgba(0, 0, 0, 0.15);
  z-index: 20;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 14px;
  }

  &__navigation {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {
    color: colors.$text;
    padding: 7px 15px;
    border-radius: 4px;
    transition: all 0.3s ease-in;

    &:hover {
      color: colors.$secondary;
      background-color: rgba(0, 189, 211, 0.1);
    }

    @include mixins.sm {
      width: 100%;
      padding: 7px 8px;
    }
  }

  &__menu {
    display: none;

    @include mixins.sm {
      display: block;
    }
  }
}
