@use 'styles/base/colors' as colors;
@use 'styles/mixins/responsive' as responsive;

.input {
  width: 380px;

  @include responsive.xxs {
    width: 328px;
  }

  &__wrapper {
    position: relative;
    border: 1px solid colors.$outline;
    border-radius: 4px;
    padding: 13px 16px;
    transition: border-color 0.2s ease;

    &Error {
      border-color: colors.$error;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    background: colors.$bg;
    padding: 0 4px;
    font-size: 16px;
    color: colors.$input;
    transition: all 0.2s ease-in;
    pointer-events: none;

    &Error {
      color: colors.$error;
    }
  }

  &__field {
    width: 100%;
    font-size: 16px;
    outline: none;
    border: none;
    background: transparent;

    &:focus + .input__label,
    &:not(:placeholder-shown) + .input__label {
      top: -2px;
      left: 14px;
      font-size: 12px;
      font-weight: 14px;
      color: colors.$input;
    }

    &Error:focus + .input__label,
    &Error:not(:placeholder-shown) + .input__label {
      color: colors.$error;
    }
  }

  &__helper {
    font-size: 12px;
    margin-top: -6px;
    margin-left: 16px;
    color: colors.$input;
    position: absolute;
  }

  &__error {
    font-size: 12px;
    color: colors.$error;
    position: absolute;
  }

  // to override default browser autofill styles
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 100px colors.$bg inset;
  }
}
