@use 'styles/base/colors' as colors;

.radioLabel {
  display: flex;
  align-items: center;
  font-size: 16px;
  cursor: pointer;

  input[type='radio'] {
    display: none;
  }

  .radioCustom {
    width: 20px;
    height: 20px;
    border: 1px solid colors.$outline;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    transition: border-color 0.3s ease-in;

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      background-color: colors.$secondary;
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.3s ease-in;
    }
  }

  input[type='radio']:checked + .radioCustom {
    border-color: colors.$secondary;
  }

  input[type='radio']:checked + .radioCustom::before {
    opacity: 1;
  }
}
