@use 'styles/base/colors' as colors;
@use 'styles/mixins/responsive' as responsive;

.registration {
  margin-bottom: 100px;

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 380px;
    margin: 0 auto;
  }

  &__formInputs {
    display: grid;
    gap: 50px;
    margin-bottom: 43px;
  }

  &__heading {
    margin-bottom: 50px;
    text-align: center;
  }

  &__submit {
    margin: 0 auto;
  }

  &__positions {
    color: colors.$text;
    width: 100%;
    margin-bottom: 47px;

    p {
      margin-bottom: 11px;
    }
  }

  &__positionsHeading {
    margin-bottom: 11px;
  }

  &__positionsList {
    display: grid;
    gap: 7px;
  }

  &__loader {
    display: flex;
    margin: 0 auto 100px;
    justify-content: center;
  }

  &__fallback {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    text-align: center;
  }

  &__success {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin-top: 20px;
    }
  }
}
